:root{
    --color-1: #13142c;
    --color-2: #4f527b;
    --color-3: #181a1a;
    --color-4: #111111; 
    --color-5: #FFFFFF;
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-tb: 5px;
    --layout__image__width: 100%;
    --layout__image__height: 350px;
}