:root{
    --color--one: #14162C;
    --color--one--rgba: #191b3fdf;
    --color--two: #cfcfd1;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;
    --color--purple: #76748B;
    --color--purpleDark: #2e284e;
    --color--purpleBackground: #55588a;
    --color-purpleReDark: #1d1f38

    --layout-description-container-x: 10px;
    --layout-description-container-y: 10px;
}

@font-face {
    font-family: 'Roboto';
    src: url(../storage/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Bitter';
    src: url(../storage/fonts/Bitter-Regular.ttf);
}